.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: #b01212;
  }
  
  .NavButtons {
    display: flex;
    align-items: center;
  }
  
  button {
    background-color: lightskyblue;
    color: #ffffff;
    border: none;
    margin-left: 10px;
    cursor: pointer;
  }
  
  button:hover {
    text-decoration: underline;
  }