.Counter {
    width: 200px; 
    margin: 20px; 
  
  }
  
  .Controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    
  }
  
  .Number {
    font-size: 1.5em; 
    margin: 0 10px; 
  }